:root {
  --white-1: #fff;
  --white-2: #888;
  --white-3: #eeee;
  --white-4: gray;
  --black-1: #111;
  --black-2: #101820ff;
  --black-3: #3333;
  --black-4: #0003;
  --green-1: #2bae66ff;
  --green-2: #33aa99;
  --green-3: #13f813;
  --green-4: #6c766c;
  --red-1: #e10600ff;
  --red-2: #933e3b;
  --font-heading: "Open Sans", sans-serif;
}

/*
    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif; heading

    font-family: 'Zilla Slab', serif;
*/
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin-top: 13rem;
  background-color: var(--black-1);
}

a {
  text-decoration: none;
}

#particles-js {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  display: none;
}

ul {
  list-style: none;
}

svg,
img {
  max-width: 100%;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: var(--white-1);
  padding: 0.4rem 2.4rem 0.5rem;
  border-radius: 0 0 0.7rem 0.7rem;
  -webkit-box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.2), -1rem -1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.2), -1rem -1rem 4rem rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.6rem;
  z-index: 500;
}

.alert-invalid {
  background-color: var(--red-1);
}

.alert-valid {
  background-color: var(--green-2);
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avatar__img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.avatar__img-cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
}

.avatar__name {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

nav {
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

nav .width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: flex;
  align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-flow: row wrap;
}

nav.bg-color {
  background-color: var(--black-2);
}

.nav {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.nav__home {
  font-size: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav__home:-webkit-any-link {
  color: var(--white-1);
}

.nav__home:-moz-any-link {
  color: var(--white-1);
}

.nav__home:any-link {
  color: var(--white-1);
}

.nav__lists-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.nav__lists-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav__lists-sub li:last-child {
  margin-left: 1.5rem;
}

.nav__lists-sub li:last-child .btn__link {
  background-color: var();
  color: var();
  padding-left: 2.7rem;
  padding-right: 2.7rem;
}

.nav__lists-sub li:last-child .btn__link:hover {
  background-color: var();
  color: var();
}

.nav__lists-sub li .login {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  color: var(--white-1);
}

.nav__lists-sub li .login:hover {
  border: 0.2rem solid var();
}

.nav__lists-sub li .signup,
.nav__lists-sub li .logout {
  background-color: var(--green-1);
  color: var(--white-1);
  border-color: transparent;
}

.nav__link {
  color: var(--green-1);
}

.nav__link:hover {
  color: var(--green-3);
}

.nav__icon {
  font-size: 1.7rem;
  vertical-align: -0.15em;
  margin-right: 0.3rem;
}

.nav__text {
  display: inline-block;
}

@media screen and (max-width: 770px) {
  .nav {
    padding-left: calc(3rem - 4vw);
    padding-right: calc(3rem - 4vw);
  }
  .nav__home {
    font-size: 2.3rem;
  }
  .nav__lists-main {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    background-color: var(--black-2);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.2rem solid var();
    z-index: 99;
  }
  .nav__lists-sub a {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
  }
}

@media screen and (max-width: 370px) {
  .nav__icon {
    font-size: 8vw;
    vertical-align: 0;
  }
  .nav__text {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .nav {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
  }
  .nav__home {
    font-size: 2rem;
  }
  .nav__lists-sub a {
    font-size: 1.5rem;
  }
}

.btn {
  display: inline-block;
  -webkit-transition: color 0.3s linear, background 0.3s linear, border 0.3s linear;
  transition: color 0.3s linear, background 0.3s linear, border 0.3s linear;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn__link {
  padding: 0.5rem 1rem 0.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid;
}

.btn__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.btn__avatar img {
  width: 3.5rem;
  height: 3.5rem;
  vertical-align: -0.32rem;
}

.btn-logout {
  font-size: 1.8rem;
  padding: 0.7rem 2rem 0.5rem !important;
}

.btn-white {
  color: var(--white-1);
  background-color: var(--green-1);
}

.form {
  position: relative;
  width: 100%;
  max-width: 60rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--green-3);
  border: 0.1rem solid var(--white-1);
  -webkit-box-shadow: 0.2rem 0.2rem 1rem #0003, -0.2rem -0.2rem 1rem #0003;
          box-shadow: 0.2rem 0.2rem 1rem #0003, -0.2rem -0.2rem 1rem #0003;
  margin: 3rem auto 8rem;
  padding: 3rem 2rem 1rem 3rem;
}

.form__home-back {
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 1rem;
  font-size: 1.4rem;
}

.form__head,
.form h2 {
  color: var(--white-1);
}

.form__other {
  margin-top: 1rem;
  text-align: center;
  color: var(--white-1);
}

.form__other:last-child {
  margin-bottom: 5rem;
}

.form__other a:-webkit-any-link {
  color: var(--green-1);
}

.form__other a:-moz-any-link {
  color: var(--green-1);
}

.form__other a:any-link {
  color: var(--green-1);
}

.form__main {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.form h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.form__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  margin-bottom: 3rem;
}

.form__input, .form__textarea {
  caret-color: var(--white-1);
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 100%;
  padding: 1.4rem 1.5rem 1rem;
  border-radius: 0.2rem;
  border: none;
  border-bottom: 0.3rem solid transparent;
  border-bottom: 0.1rem solid var(--green-2);
  background-color: var(--green-4);
  width: 90%;
  color: var(--white-1);
  color: var(--green-3);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form__input:focus, .form__textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem #0001;
          box-shadow: 0 1rem 2rem #0001;
  border-bottom: 0.1rem solid var(--black-1);
  border-bottom: 0.1rem solid var(--green-1);
  border-bottom: 0.1rem solid var(--white-1);
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  color: var(--white-1);
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: var(--white-1);
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  color: var(--white-1);
}

.form__input::placeholder, .form__textarea::placeholder {
  color: var(--white-1);
}

.form__label {
  font-size: 1.7rem;
  margin-left: 2.7rem;
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: 0.1rem;
  text-transform: capitalize;
  color: var(--green-3);
  font-weight: bold;
}

.form__textarea {
  resize: none;
}

.form__input:placeholder-shown + .form__label,
.form__textarea:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(4.1rem);
          transform: translateY(4.1rem);
  margin-left: 4.3rem;
}

.form__button {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  font-size: 2rem;
  max-width: 30rem;
  border-radius: 0.2rem;
}

.form__button:hover {
  background-color: var();
  color: var();
}

.form__button-submit {
  background-color: var(--green-3);
  color: var(--black-1);
  margin-top: 4rem;
}

.form__button-submit:hover {
  background-color: var(--green-2);
  color: var(--white-1);
}

.form__button-reset {
  background-color: red;
  background-color: var(--red-1);
  color: var(--white-1);
}

.form__button-reset:hover {
  background-color: var(--red-2);
}

section[data-form="auth"] {
  padding-left: 2rem;
  padding-right: 2rem;
}

section[data-form="auth"] .form {
  margin-bottom: 4rem;
}

section[data-form="auth"] .form__home {
  text-align: center;
  margin-top: -8rem;
  margin-bottom: 1rem;
}

section[data-form="auth"] .form__home a {
  color: var();
}

@media screen and (max-width: 770px) {
  .form {
    margin-top: 5rem;
    margin-bottom: 15rem;
  }
}

.moments {
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  margin-bottom: 4rem;
  margin-bottom: 6rem;
}

.moments__empty {
  font-size: clamp(1rem, 50vw, 14rem);
}

.moments__empty, .moments__empty-link {
  color: var(--white-1);
  text-align: center;
}

.moments__empty-link {
  font-size: clamp(1rem, 4vw, 4rem);
}

.moment {
  max-width: 39rem;
  position: relative;
}

.moment:focus {
  -webkit-box-shadow: 0.4rem 0.4rem 2rem red;
          box-shadow: 0.4rem 0.4rem 2rem red;
}

.moment__figure-cont {
  border-radius: 1.5rem;
  height: 17rem;
  overflow: hidden;
  position: relative;
}

.moment__figure {
  width: 100%;
  height: 100%;
}

.moment__figure-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.moment__overlay {
  padding: 1rem 0.9rem;
}

.moment__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.moment__type {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0.8rem;
  background-color: var(--black-4);
  background-color: var(--green-4);
  color: var(--white-1);
}

.moment__date {
  font-size: 1.5rem;
  color: var(--white-1);
}

.moment__title {
  color: var(--white-1);
}

.moment__detail {
  margin-top: 1rem;
}

.moment__detail > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}

.moment__detail button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.8rem;
}

.moment__bookmark {
  color: var(--green-1);
}

.moment__edit {
  margin-left: 1rem;
  color: var(--white-1);
}

.moment__edit:hover {
  color: var(--white-2);
}

.moment__creator {
  margin-top: -3rem;
  color: var(--green-1);
}

@media screen and (min-width: 499px) {
  .moments {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem 4rem;
  }
  .moment {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 499px) {
  .moment {
    margin: 3rem auto;
  }
}

.reactions-like {
  color: pink;
}

.reactions-dislike {
  color: var(--black-1);
}

.reactions-comment {
  color: green;
}

.reactions-delete {
  color: red;
  margin-left: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var();
  color: var();
  background-color: #2228;
  background-color: #0003;
  background-color: var(--black-4);
  background-color: #444b;
}

.lds-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.lds-dual-ring {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin-right: auto;
  margin-left: auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0.8rem;
  border-radius: 50%;
  border: 0.6rem solid var();
  border-color: var() transparent var() transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.width {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
