:root {
  --white-1: #fff;
  --white-2: #888;
  --white-3: #eeee;
  --white-4: gray;
  --black-1: #111;
  --black-2: #101820ff;
  --black-3: #3333;
  --black-4: #0003;
  --black-5: #fefffe0d;
  --green-1: #2bae66ff;
  --green-2: #33aa99;
  --green-3: #13f813;
  --green-4: #6c766c;
  --red-1: #e10600ff;
  --red-2: #933e3b;
  --blue-1: #4267b2;
  --base-3: #0a66c2;
  --base-4: #1da1f2;
  --font-heading: "Open Sans", sans-serif;
  --border-rad: 0.5rem;
}

/*
    font-family: 'Lato', sans-serif;

    font-family: 'Open Sans', sans-serif; heading

    font-family: 'Zilla Slab', serif;
*/
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: var(--black-1);
  color: var(--white-1);
}

body > * {
  margin-top: 13rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 4.7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h5 {
  font-size: 2.1rem;
}

h6 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

svg,
img {
  max-width: 100%;
}

::-moz-selection {
  background-color: var(--green-1);
  color: var(--white-1);
}

::selection {
  background-color: var(--green-1);
  color: var(--white-1);
}

.box {
  -webkit-box-shadow: 0.1rem 0.1rem 1.4rem rgba(0, 0, 0, 0.3), -0.1rem -0.1rem 1.4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.1rem 0.1rem 1.4rem rgba(0, 0, 0, 0.3), -0.1rem -0.1rem 1.4rem rgba(0, 0, 0, 0.3);
  background-color: var(--black-2);
  padding: 0.4rem 0.9rem;
  border-radius: 0.7rem;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.box:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.3), 0rem 0rem 0.4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.3), 0rem 0rem 0.4rem rgba(0, 0, 0, 0.3);
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: var(--white-1);
  padding: 0.4rem 2.4rem 0.5rem;
  border-radius: 0 0 0.7rem 0.7rem;
  -webkit-box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.2), -1rem -1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.2), -1rem -1rem 4rem rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.6rem;
  z-index: 500;
}

.alert-invalid {
  background-color: var(--red-1);
}

.alert-valid {
  background-color: var(--green-2);
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avatar__img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.avatar__img-cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
}

.avatar__name {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.avatar__icon {
  background-color: var(--white-1);
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-radius: 50%;
  color: var(--green-1);
}

nav {
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

nav .width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: flex;
  align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-flow: row wrap;
}

nav.bg-color {
  background-color: var(--black-2);
}

.nav {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.nav__home {
  font-size: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav__home span:nth-child(2n) {
  color: var(--white-1);
}

.nav__home span:nth-child(2n + 1) {
  color: var(--green-1);
}

.nav__lists-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.nav__lists-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav__lists-sub li:last-child {
  margin-left: 1.5rem;
}

.nav__lists-sub li:last-child .btn__link {
  background-color: var();
  color: var();
  padding-left: 2.7rem;
  padding-right: 2.7rem;
}

.nav__lists-sub li:last-child .btn__link:hover {
  background-color: var();
  color: var();
}

.nav__link {
  color: var(--green-1);
}

.nav__link:hover {
  color: var(--green-3);
}

.nav__icon {
  font-size: 1.7rem;
  vertical-align: -0.15em;
  margin-right: 0.3rem;
}

.nav__text {
  display: inline-block;
}

@media screen and (max-width: 770px) {
  .nav {
    padding-left: calc(3rem - 4vw);
    padding-right: calc(3rem - 4vw);
  }
  .nav__home {
    font-size: 2.3rem;
  }
  .nav__lists-main {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    background-color: var(--black-2);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.2rem solid var();
    z-index: 99;
  }
  .nav__lists-sub a {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
  }
}

@media screen and (max-width: 370px) {
  .nav__icon {
    font-size: 8vw;
    vertical-align: 0;
  }
  .nav__text {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .nav {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
  }
  .nav__home {
    font-size: 2rem;
  }
  .nav__lists-sub a {
    font-size: 1.5rem;
  }
}

.btn {
  display: inline-block;
  -webkit-transition: color 0.3s linear, background 0.3s linear, border 0.3s linear;
  transition: color 0.3s linear, background 0.3s linear, border 0.3s linear;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn__link {
  padding: 0.5rem 1rem 0.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid;
  color: var(--green-1);
}

.btn__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.btn__avatar img {
  width: 3.5rem;
  height: 3.5rem;
  vertical-align: -0.32rem;
}

.btn-logout {
  font-size: 1.8rem;
  padding: 0.7rem 2rem 0.5rem !important;
}

.btn-white {
  color: var(--white-1);
  background-color: var(--green-1);
}

.form {
  position: relative;
  width: 100%;
  max-width: 60rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem #0003, -0.2rem -0.2rem 1rem #0003;
          box-shadow: 0.2rem 0.2rem 1rem #0003, -0.2rem -0.2rem 1rem #0003;
  margin: 3rem auto 8rem;
  padding: 3rem 2rem 1rem 3rem;
}

.form__home-back {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.4rem;
}

.form__head,
.form h2 {
  color: var(--white-1);
}

.form__other {
  margin-top: 1rem;
  text-align: center;
  color: var(--white-1);
}

.form__other:last-child {
  margin-bottom: 5rem;
}

.form__other a:-webkit-any-link {
  color: var(--green-1);
}

.form__other a:-moz-any-link {
  color: var(--green-1);
}

.form__other a:any-link {
  color: var(--green-1);
}

.form__main {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.form h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.form__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  margin-bottom: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
}

.form__input, .form__textarea {
  caret-color: var(--white-1);
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 100%;
  padding: 1.4rem 1.5rem 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  border: none;
  border-bottom: 0.1rem solid transparent;
  background-color: var(--black-5);
  width: 90%;
  color: var(--white-1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form__input:focus, .form__textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem #0001;
          box-shadow: 0 1rem 2rem #0001;
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  color: var(--white-1);
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: var(--white-1);
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  color: var(--white-1);
}

.form__input::placeholder, .form__textarea::placeholder {
  color: var(--white-1);
}

.form__password-errors {
  margin-bottom: 3.5rem;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.3rem;
}

.form__input-error {
  display: block;
  color: var(--red-1);
  position: absolute;
  bottom: -2.3rem;
  left: 2.9rem;
  font-size: 1.5rem;
}

.form__input-icon {
  position: absolute;
  bottom: -2rem;
  right: 2.6rem;
  font-size: 2rem;
  font-size: 1.7rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__input-icon-error {
  color: var(--red-1);
}

.form__input-icon-valid {
  color: var(--green-1);
}

.form__input-required {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  right: 2.8rem;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  font-size: 1.2rem;
  background-color: var(--white-4);
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  padding: 0.1rem 0.5rem 0.3rem;
}

.form__label {
  font-size: 1.7rem;
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: 0.1rem;
  text-transform: capitalize;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: var(--green-3);
  color: var(--white-1);
  font-weight: bold;
}

.form__textarea {
  resize: none;
}

.form__input:placeholder-shown + .form__label,
.form__textarea:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(4.1rem);
          transform: translateY(4.1rem);
  margin-left: 4.3rem;
}

.form__button {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  font-size: 2rem;
  max-width: 30rem;
  border-radius: 0.2rem;
}

.form__button:hover {
  background-color: var();
  color: var();
}

.form__button-submit {
  background-color: var(--green-3);
  color: var(--black-1);
  margin-top: 4rem;
}

.form__button-submit:hover {
  background-color: var(--green-2);
  color: var(--white-1);
}

.form__button-reset {
  background-color: red;
  background-color: var(--red-1);
  color: var(--white-1);
}

.form__button-reset:hover {
  background-color: var(--red-2);
}

section[data-form="auth"] {
  padding-left: 2rem;
  padding-right: 2rem;
}

section[data-form="auth"] .form {
  margin-bottom: 4rem;
}

section[data-form="auth"] .form__home {
  text-align: center;
  margin-top: -8rem;
  margin-bottom: 1rem;
}

section[data-form="auth"] .form__home a {
  color: var();
}

@media screen and (max-width: 770px) {
  .form {
    margin-top: 5rem;
    margin-bottom: 15rem;
  }
}

[data-content="moments"] {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 70rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.moments__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 3rem;
}

.moments__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.moments__tags li:not(:last-child) {
  margin-right: 0.6rem;
}

.moments__empty {
  background-color: red;
  text-align: center;
}

.moment {
  cursor: -webkit-grab;
  cursor: grab;
  cursor: pointer;
  margin-bottom: 3rem;
}

.moment__figure {
  width: 100%;
  max-height: 25rem;
  overflow: hidden;
}

.moment__figure img {
  -o-object-fit: cover;
     object-fit: cover;
}

.moment__detail {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 0.5rem;
}

.moment__detail-profileDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.moment__detail-profileDate > div {
  margin-top: -0.5rem;
}

.moment__detail-other {
  margin-left: 5.5rem;
  margin-top: 1rem;
}

.moment__detail-other > div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.moment__creator-avatar {
  margin-right: 0.7rem;
}

.moment__creator-name {
  color: var(--white-1);
  color: var(--green-1);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  font-weight: 600;
}

.moment__creator-name:hover {
  color: var(--green-2);
}

.moment__createdAt {
  color: var(--white-2);
  font-size: 1.4rem;
  letter-spacing: 0rem;
  color: var(--green-4);
}

.moment__title::first-letter {
  text-transform: uppercase;
}

.moment__message {
  margin-top: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.moment__tags {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1.5rem 0rem;
}

.moment__tag:not(:last-child) {
  margin-right: 1rem;
}

.moment__tag-link {
  color: var(--green-1);
  padding: 0.2rem 0.6rem 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--black-1);
  background-color: var(--black-3);
}

.moment__tag-link:hover {
  background-color: var(--black-3);
  background-color: transparent;
}

.moment__actions, .moment__reactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.moment__actions .btn, .moment__reactions .btn {
  color: var(--white-1);
  font-size: 1.6rem;
}

.moment__actions li, .moment__reactions li {
  margin-top: 1.5rem;
  cursor: pointer;
}

.moment__actions li:not(:last-child), .moment__reactions li:not(:last-child) {
  margin-right: 1.5rem;
}

.moment__reactions {
  margin-right: auto;
}

.moment__reactions li {
  background-color: var(--black-2);
  padding: 0.4rem 0.9rem;
  border-radius: 0.7rem;
  padding: 0.3rem 0.6rem;
  border: none;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  font-size: 1.5rem;
}

.moment__reactions li > * {
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.moment__reactions li:hover {
  background-color: var(--black-3);
}

.moment__reactions li:hover > * {
  color: var(--white-1);
}

.moment__reactions li:hover svg {
  color: var(--white-4);
}

.moment__reactions li svg {
  font-size: 1.6rem;
  vertical-align: -0.2rem;
}

.moment__reactions li span {
  margin-left: 0.5rem;
  color: var(--white-4);
}

.article {
  cursor: auto;
  padding: 0;
  margin-bottom: 10rem;
}

.article__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__img-cont {
  height: 40rem;
  overflow: hidden;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.article__comments, .article__detail, .article__comments-users {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.article__detail {
  border-bottom: 0.1rem solid var(--white-2);
}

.article__detail-profileDate > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.article__detail-profileDate > div button {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.article__detail-profileDate > div p {
  font-size: 1.5rem;
}

.article__title {
  word-spacing: 0.7rem;
  text-transform: capitalize;
}

.article__tags {
  margin-bottom: 2.5rem;
}

.article__tag button {
  padding: 0.4rem 0.7rem;
}

.article__message {
  letter-spacing: 0.1rem;
  white-space: pre-wrap;
}

.article__message:not(:last-child) {
  margin-bottom: 3rem;
}

.article__comments h3 {
  margin-bottom: 3rem;
}

.article__form-comment div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.article__form-comment button {
  margin-left: 5rem;
  margin-right: 0;
  width: auto;
  margin-top: 0;
}

.article__form-comment figure {
  margin-right: 0;
}

.article__form-comment figure img {
  width: 3.5rem;
  height: 3.5rem;
}

.article__form-comment textarea {
  margin-left: 0;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  caret-color: var(--green-2);
}

.article__form-comment textarea:focus {
  outline: 0.1rem solid var(--green-1);
}

.article__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 3rem;
}

.article__comment > div {
  margin-left: 1rem;
  border: 0.1rem solid var(--white-2);
  border: 0.1rem solid var(--white-4);
  border: 0.1rem solid var(--base-3);
  border-radius: var(--border-rad);
  padding: 2rem;
}

.article__comment h6 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.reactions-like {
  color: pink;
}

.reactions-dislike {
  color: var(--black-1);
}

.reactions-comment {
  color: green;
}

.reactions-delete {
  color: red;
  margin-left: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var();
  color: var();
  background-color: #2228;
  background-color: #0003;
  background-color: var(--black-4);
  background-color: #444b;
}

.lds-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.lds-dual-ring {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin-right: auto;
  margin-left: auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0.8rem;
  border-radius: 50%;
  border: 0.6rem solid var(--green-1);
  border-color: var(--green-1) transparent var(--green-3) transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

[data-page="homepage"] {
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

[data-page="homepage"] aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20rem;
          flex: 1 0 20rem;
  max-width: 25rem;
  max-width: 27rem;
}

[data-page="homepage"] aside:first-child {
  margin-right: 1rem;
}

[data-page="homepage"] aside:nth-child(3) {
  margin-left: 1rem;
}

[data-page="homepage"] .moment__delete, [data-page="homepage"] .moment__bookmark, [data-page="homepage"] .moment__edit {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

[data-page="homepage"] .moment__delete:hover {
  color: var(--red-1);
}

[data-page="homepage"] .moment__bookmark:hover {
  color: var(--green-1);
}

[data-page="homepage"] .moment__edit:hover {
  color: var(--green-2);
}

[data-page="homepage"] .home__nav li {
  margin-bottom: 2rem;
}

[data-page="homepage"] .home__nav-media {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

[data-page="homepage"] .home__nav-media li {
  margin-bottom: 0;
}

[data-page="homepage"] .home__nav-media li:not(:last-child) {
  margin-right: 1.3rem;
}

[data-page="homepage"] .home__nav-media a {
  color: #fff;
}

[data-page="homepage"] .home__nav-auth {
  background-color: var(--black-2);
  padding: 0.4rem 0.9rem;
  border-radius: 0.7rem;
  margin-bottom: 3rem;
  padding: 1.3rem 1.4rem 2rem;
}

[data-page="homepage"] .home__nav-auth ul {
  margin-top: 2rem;
}

[data-page="homepage"] .home__nav-auth ul li {
  display: inline-block;
  margin-top: 1rem;
}

[data-page="homepage"] .home__nav-auth ul li:first-child {
  margin-right: 3rem;
}

[data-page="homepage"] .home__nav-auth span {
  color: var(--green-3);
}

[data-page="homepage"] .home__nav-tags {
  margin-top: 5rem;
}

[data-page="homepage"] .home__nav .facebook:hover {
  color: var(--blue-1);
}

[data-page="homepage"] .home__nav .twitter:hover {
  color: var(--base-4);
}

[data-page="homepage"] .home__nav .github:hover {
  color: var(--green-1);
}

[data-page="homepage"] .home__nav .linkedin:hover {
  color: var(--base-3);
}

[data-page="homepage"] .nav__icon {
  margin-right: 1rem;
}

@media screen and (max-width: 990px) {
  [data-page="homepage"] aside:first-child {
    all: unset;
    -webkit-box-flex: 2;
        -ms-flex: 2 1;
            flex: 2 1;
    min-width: 22rem;
  }
  [data-page="homepage"] aside:nth-child(3) {
    display: none;
  }
  [data-page="homepage"] main {
    -webkit-box-flex: 5;
        -ms-flex: 5 1;
            flex: 5 1;
    margin-left: 1.4rem;
  }
}

@media screen and (max-width: 629px) {
  [data-page="homepage"] aside:first-child {
    display: none;
  }
}

.error-page-cont {
  background-size: 400%;
  position: relative;
  padding-top: 8rem;
}

#error-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#error-page .content {
  max-width: 60rem;
  text-align: center;
}

.content h2.header {
  font-size: 18vw;
  font-size: 14vw;
  line-height: 1em;
  position: relative;
}

.content h2.header:after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  -webkit-animation: animate 10s ease-in-out infinite;
          animation: animate 10s ease-in-out infinite;
}

@-webkit-keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.content h4 {
  font-size: 1.5em;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--black-1);
  font-size: 2em;
  max-width: 60rem;
  position: relative;
}

.content h4:after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  font-size: 1.2em;
  color: var(--white-1);
}

.content .btns {
  margin: 2.5rem 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.content .btns a {
  display: inline-block;
  margin: 0 10px;
  margin: 0 1rem;
  text-decoration: none;
  border: 0.2rem solid var(--green-2);
  color: var(--green-2);
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content .btns a:hover {
  color: var(--white-1);
  background-color: var(--green-1);
}

[data-page="moment"] aside:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

[data-page="moment"] aside:nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 1.5rem;
}

[data-page="moment"] main {
  margin-left: 1rem;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

[data-page="moment"] main article {
  border-radius: 0;
}

[data-page="profile"] {
  margin-top: -2rem;
}

[data-page="profile"] .profile__detail-1 {
  padding-bottom: 3rem;
  margin-bottom: 4rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#333333), color-stop(#303030), color-stop(#2c2c2c), color-stop(#292929), color-stop(#262626), color-stop(#232323), color-stop(#212121), color-stop(#1e1e1e), color-stop(#1b1b1b), color-stop(#181818), color-stop(#151515), to(#111111));
  background-image: linear-gradient(to right bottom, #333333, #303030, #2c2c2c, #292929, #262626, #232323, #212121, #1e1e1e, #1b1b1b, #181818, #151515, #111111);
}

[data-page="profile"] .profile__detail-sub {
  width: 100%;
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

[data-page="profile"] .profile__detail-sub-1 {
  text-align: center;
}

[data-page="profile"] .profile__detail-2 {
  width: 100%;
  max-width: 70rem;
  max-width: 67rem;
  max-width: 80rem;
  margin: 2rem auto 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
}

[data-page="profile"] .profile__detail-2 > div:first-child {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-right: 2rem;
}

[data-page="profile"] .profile__detail-2 > div:nth-child(2) {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

[data-page="profile"] .user__coverPhoto {
  position: relative;
  width: 100%;
}

[data-page="profile"] .user__coverPhoto img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-page="profile"] .user__coverPhoto-edit {
  background-color: var(--white-1);
  color: var(--black-1);
  padding: 0.7rem 0.7rem 0.2rem;
  padding: 0.6rem 0.6rem 0.2rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  border-radius: var(--border-rad);
}

[data-page="profile"] .user__coverPhoto-edit:hover {
  background-color: var(--white-3);
  color: var(--white-2);
}

[data-page="profile"] .user__coverPhoto-edit-icon {
  color: var(--white-2);
  font-size: 2rem;
  margin-right: 0.4rem;
  vertical-align: -0.5rem;
}

[data-page="profile"] .user__profilePic {
  width: 12rem;
  height: 12rem;
  position: absolute;
  bottom: -5rem;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

[data-page="profile"] .user__profilePic img {
  border: 0.2rem solid var(--black-1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

[data-page="profile"] .user__profilePic-edit {
  background-color: var(--white-1);
  color: var(--black-1);
  padding: 0.7rem 0.7rem 0.2rem;
  padding: 0.6rem 0.6rem 0.2rem;
  padding: 0.4rem 0.4rem 0.1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
}

[data-page="profile"] .user__profilePic-edit:hover {
  background-color: var(--white-3);
  color: var(--white-2);
}

[data-page="profile"] .user__profilePic img {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-page="profile"] .user__name {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

[data-page="profile"] .user__bio {
  max-width: 70rem;
  margin: auto;
  margin-bottom: 1rem;
  color: var(--white-2);
}

[data-page="profile"] .user__bio-edit {
  color: var(--green-2);
  padding: 0.5rem 0.9rem 0.4rem;
  border-radius: var(--border-rad);
  font-size: 1.7rem;
}

[data-page="profile"] .user__bio-edit:hover {
  background-color: var(--green-2);
  color: var(--white-1);
}

[data-page="profile"] .user__about {
  padding: 1.3rem 1.4rem;
  margin-bottom: 3rem;
}

[data-page="profile"] .user__about-detail {
  margin-top: 1.3rem;
}

[data-page="profile"] .user__about-edit {
  background-color: var(--green-2);
  width: 100%;
  padding: 0.9rem 0.5rem;
  border-radius: var(--border-rad);
  font-size: 1.8rem;
}

[data-page="profile"] .user__about-edit:hover {
  background-color: var(--black-5);
  color: var(--green-2);
}

[data-page="profile"] .user__about-val {
  font-weight: 900;
  font-size: 1.4rem;
}

[data-page="profile"] .user__friends {
  padding: 1.3rem 1.4rem;
  margin-bottom: 3rem;
}

[data-page="profile"] .user__friends-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

[data-page="profile"] .user__friends-number {
  font-size: 1.4rem;
  color: var(--white-2);
  display: inline-block;
  text-align: center;
  width: 100%;
}

[data-page="profile"] .user__friends-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--green-2);
  font-size: 1.7rem;
  padding: 0.5rem 0.9rem 0.4rem;
}

[data-page="profile"] .user__friends-btn:hover {
  background-color: var(--black-5);
}

.bigFlex {
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  max-width: 141rem;
}

.signup,
.logout {
  background-color: var(--green-1);
  color: var(--white-1);
  border-color: transparent;
}

.signup:hover,
.logout:hover {
  background-color: transparent;
  border-color: var(--white-2);
}

.login {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  color: var(--white-1);
}

.login:hover {
  border: 0.2rem solid var();
}

.like {
  color: var(--green-3);
}

.like:hover {
  color: var(--green-1);
}

.dislike,
.delete {
  color: var(--red-2);
  color: var(--red-1);
}

.dislike:hover,
.delete:hover {
  color: var(--red-1);
  color: var(--red-2);
}

.share,
.comment {
  color: var(--white-1);
}

.share:hover,
.comment:hover {
  color: var(--white-4);
}

.valid {
  border-color: var(--green-3);
}

.invalid {
  border-color: var(--red-1);
}

.toggle {
  position: absolute;
  color: var(--white-1);
  font-size: 2rem;
  top: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3.5rem;
  z-index: 0;
}

.disabled {
  background-color: var(--white-4);
  color: var(--black-1);
  cursor: not-allowed;
}

.disabled:hover, .disabled:focus, .disabled:active {
  color: var(--black-1);
  background-color: var(--white-4);
}

.white-link {
  color: var(--white-1);
}

.white-link:hover {
  color: var(--white-2);
}

.iconText span:first-child {
  margin-right: 1.4rem;
  font-size: 2rem;
  vertical-align: -0.3rem;
}

.iconText-vertical:not(:last-child) {
  margin-bottom: 1.5rem;
}

.iconText-string span:first-child {
  color: var(--white-4);
}
